/* Tailwind base - put variables under: tailwind.config.js */
@import "node_modules/tailwindcss/base";
/* Tailwind component classes registered by plugins*/
@import "node_modules/tailwindcss/components";
/* Site Specific */
@import "assets/css/site";
/* Paginator */
@import "assets/css/paginator";
/* Tailwind's utility classes - generated based on config file */
@import "node_modules/tailwindcss/utilities";

@layer components {
  details.toc[open] summary ~ * {
    animation: slideUp 0.25s ease-in-out;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  details.toc[open] summary svg {
    @apply transform duration-200 rotate-180 ease-in-out;
  }

  details.toc > ul {
    @apply ml-4;
  }

  details.toc ul {
    @apply list-none;
    margin-top: 0.125rem /* 2px */ !important;
    margin-bottom: 0.125rem /* 2px */ !important;
  }
  details.toc ul li {
    margin-top: 0.125rem /* 2px */ !important;
    margin-bottom: 0.125rem /* 2px */ !important;
  }
  details.toc ul li:before {
    @apply rounded-none bg-gray-400;
  }
  details.toc ul li a {
    @apply no-underline text-gray-700 dark:text-gray-200 text-base;
  }

  a:empty {
    display: none;
  }
}

main {
  margin-top: 120px;
}

.bg-blue-100 {
  background-color: rgba(219, 234, 254, 0.75 );
}

.header {
  background-color: rgba(219, 234, 254, 0.75 );
}
.header:is(.dark *) {
  background-color: rgba(17, 24, 39, 0.75);
}
.header > .container {
  box-shadow: 0 0 24px transparent;
}

.button-4 {
  appearance: none;
  background-color: transparent;
  border: 2px solid rgba(108, 114, 127, 1);
  border-radius: 6px;
  /* box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset; */
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 3px 12px;
  position: relative;
  transition: background-color 100ms ease-out,
              color 100ms ease-out,
              border-color 100ms ease-out;
  /* background-color: #3f7bf2; */
  color: inherit;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.button-4:is(.dark *) {
  border-color: white;
}

.button-4:hover {
  background-color: #5889ed;
  border-color: transparent;
  color: white;
  text-decoration: none;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.prose a {
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-color: #d4d4d8;
}
