{{ define "main" }}
  <div class="container max-w-screen-lg px-6 py-12 mx-auto flex flex-col flex-auto flex-wrap" style="gap: 2rem;">
    <div class="text-4xl font-semibold">
      {{ .Params.title }}
    </div>
    <br />

    {{ if .Params.leader }}
    <div class="text-2xl font-semibold">
      {{ .Params.mentor }}
    </div>
    <div class="p-0 flex flex-col justify-center items-center">
      <a href="{{ .Params.leader.url }}">
        <div>
          <img src="{{ .Params.leader.photo }}" alt="{{ .Params.leader.title }}" class="m-0 mb-4 rounded-full shadow-sm h-52 object-cover" />
        </div>
      </a>

      <div class="my-2 flex flex-col flex-wrap items-center">
        <div class="p-0">
          <a href="{{ .Params.leader.url }}">
            <div class="text-xl font-semibold">{{ .Params.leader.title }}</div>
          </a>
        </div>

        <h5 class="text-sm font-light italic text-gray-500">
          {{ .Params.leader.degree }}
        </h5>
      </div>

    </div>

    <div class="text-2xl font-semibold">
      {{ .Params.students }}
    </div>

    {{ end }}

    <div class="flex flex-wrap justify-around" style="gap: 3rem; justify-content: space-around;">
    {{ range (where (where .Site.RegularPages.ByDate "Type" "people") "Layout" "people") }}
      {{- partial "people-card.html" . -}}
    {{ end }}
    </div>

    <div class="text-2xl font-semibold mb-4 mt-4">
      Alumni
    </div>
    <div class="flex flex-row justify-around">
      {{ range .Params.Alumni }}
      <div class="flex flex-col items-center">
        <div class="text-xl font-semibold">
          {{ .name }}
        </div>
        <div class="text-sm font-light italic text-gray-500">
          {{ .work }}
        </div>
      </div>
      {{ end }}
    </div>

  </div>
{{ end }}
