{{ define "main" }}
  <div class="container max-w-screen-lg px-6 py-12 mx-auto flex flex-col flex-auto flex-wrap" style="gap: 2rem;">
    <div class="text-4xl font-semibold">
      {{ .Params.title }}
    </div>
    <br />

    {{ if .Params.mentor }}
    <div class="text-2xl font-semibold">
      {{ .Params.mentor }}
    </div>
    <div class="flex flex-wrap justify-around gap-12">
    {{ range (where (where .Site.RegularPages.ByDate "Type" "people") "Layout" "mentor") }}
      {{- partial "people-card.html" . -}}
    {{ end }}
    </div>

    <div class="text-2xl font-semibold">
      {{ .Params.students }}
    </div>

    {{ end }}

    <div class="flex flex-wrap justify-around gap-12">
    {{ range (where (where .Site.RegularPages.ByDate "Type" "people") "Layout" "people") }}
      {{- partial "people-card.html" . -}}
    {{ end }}
    </div>

    <div class="text-2xl font-semibold mb-4 mt-4">
      {{ .Params.alumni_title }}
    </div>
    <div class="flex flex-row justify-around flex-wrap gap-12">
      {{ range .Params.Alumni }}
      <div class="flex flex-col items-center">
        <div class="text-xl font-semibold">
          {{ .name }}
        </div>
        <div class="text-sm font-light italic text-gray-500">
          {{ .work }}
        </div>
      </div>
      {{ end }}
    </div>

  </div>
{{ end }}
