
{{ $swiperCss := resources.Get "css/swiper-bundle.min.css" }}
{{ $swiper := resources.Get "js/swiper-bundle.min.js" }}
<section class="bg-white dark:bg-gray-800 ">
  <div class="w-full relative" style="margin-top: -8em">
    <div class="swiper w-full">
      <div id="swiper-mask" class="w-full h-full absolute flex flex-col justify-end">

        <!-- <h1 class="text-4xl font-bold" style="margin-bottom: 0.5rem;">{{ .Site.Params.introTitle | safeHTML}}</h1> -->
        <div class="title-container container max-w-screen-lg mx-auto px-6">
          <a class="flex flex-col lg:flex-row items-start lg:items-center gap-6" href="/">
            {{ if .Site.Params.altLogo }}
            <img class="alt-logo text-2xl inline dark:hidden" src="{{ .Site.Params.altLogo }}">
            <img class="alt-logo text-2xl hidden dark:inline" src="{{ .Site.Params.altLogoDark }}">
            {{ end }}
            {{ if .Site.Params.teamLogo }}
            <img class="team-logo text-2xl inline dark:hidden" src="{{ .Site.Params.teamLogo }}">
            <img class="team-logo text-2xl hidden dark:inline" src="{{ .Site.Params.teamLogoDark }}">
            {{ end }}
          </a>
          <div class="text-8xl">
          {{ .Site.Params.introTitle }}
          </div>
          
        </div>
      </div>
      <div class="swiper-wrapper relative">
        {{ range .Site.Params.introImages }}
        <div class="swiper-slide">
          <img src="{{ .src }}" alt="">
        </div>
        {{end}}
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <!-- Add Pagination -->
    <!-- <div class="swiper-pagination"></div> -->
    </div>
  </div>
  <div class="about-section pb-6 mb-6">

    <div class="container max-w-screen-lg mx-auto px-6 py-12 flex flex-col gap-4">
      <!-- <img class="rounded-lg shadow-sm" src="{{ .Site.Params.introPhoto }}" alt="{{ .Site.Title }}" /> -->

      <p class="text-2xl">{{ .Site.Params.introSubtitle | safeHTML}}</p>

      {{ range .Site.Params.about }}
      <p>{{ .content }}</p>
      {{ end }}
    </div>
  </div>
</section>
<link rel="stylesheet" href="{{ $swiperCss.Permalink }}">

<!-- Initialize Swiper -->

<script src="{{ $swiper.Permalink }}"></script>
<script>
  const swiper = new Swiper('.swiper', {
    direction: 'horizontal',
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    //键盘左右方向键控制
    keyboard: true,
    //自动切换
    autoplay: {
      delay: 5000,
    },
    autoHeight: true,
    //懒加载
    lazyLoading : true,
    lazyLoadingInPrevNext : false,
    //无限循环
    rewind: true,
    loop: true
  });
</script>
<style>
  /* use inline style to make */
.header.menu-expanded .logo {
  transition: color 200ms ease-out;
}
.header:not(.menu-expanded) .logo {
  color: transparent;
}
</style>
